html, body{
	margin: 0px,
	padding: 0px;
	font-size: 16px;
	font-family: 'Karla', sans-serif;
	background-color: hsl(0, 0%, 98%);
}

* {
	margin: 0;
	padding: 0;
}

/*.main-header {
	background-color: hsl(0, 0%, 98%);
	padding: 0px;
	margin: 0px;
	height: 20px;
}*/

.main-header_menu .main-header_menu-link {
	list-style: none;
	padding: 0px;
	display: flex;
	float: right;
	position: relative;
	bottom: 10px;
	margin-right: 50px;
}

.main-header .header-logo img {
	position: relative;
	top: 25px;
	max-width: 90px;
	margin-left: 50px;

}

.menu-link a{
	margin: 10px;
	float: left;
	text-decoration: none;
	color: #a09e9edb;
	/*font-size: 15px;*/
}

.menu-link a:hover {
	font-weight: bold;
}

.menu-link button {
	border-color: #423f3f78;
	background-color: hsl(0, 0%, 98%);
	padding: 3px 10px;
	font-size: 12px;
}

.menu-link button:hover {
	background-color: #2b272f;
	color: white !important;
	font-weight: bolder;
}

/*.menu-link a:hover {
	color: white;
}*/

.first-content {
	background-color: hsl(256, 26%, 20%);
	color: white;
	float: right;
	width: 100%;
	height: 540px;
	margin: 0px;
	padding: 0px;
}

#my-content {
	margin-left: 50px;
	line-height: 7em;
	position: relative;
	bottom: 250px;

}

.mymage #rpx {
	height: 300px;
	float: right;
	position: relative;
	z-index: 2;

}

.mymage #lpx {
	height: 300px;
	position: relative;
	z-index: 2;
	bottom: -180px;
}

.article h1{
	font-family: 'DM Serif Display', serif;
	text-align: left;
	font-size: 50px;
	line-height: 50px;
}

.article p {
	font-size: 14px;
	line-height: 1.5em;
	margin-top: 20px;

}

.my-image {

	float: right;
	margin-right: 100px;
	position: relative;
	top: -570px;
}

.section-button button {

	background-color: hsl(256, 26%, 20%);
	border: 2px solid white;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;

}

.section-button button a{
	color: white;
	text-decoration: none;
}

.section-button button:hover, a:hover {
	background-color: white;
	color: black;

/*.clear {
	clear: left; 
	display: block;
}*/

