html, body{
	margin: 0px,
	padding: 0px;
	font-family: 'Karla', sans-serif;
	background-color: hsl(0, 0%, 98%);
	-webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

.main-header_menu .main-header_menu-link {
	list-style: none;
	padding: 0px;
	display: flex;
	float: right;
	position: relative;
	bottom: 10px;
	margin-right: 50px;
}

.main-header .header-logo img {
	position: relative;
	top: 25px;
	max-width: 90px;
	margin-left: 50px;
}

.menu-link a{
	margin: 10px;
	float: left;
	text-decoration: none;
	color: #a09e9edb;
}

.menu-link a:hover {
	font-weight: bold;
}

.menu-link button {
	border-color: #423f3f78;
	background-color: hsl(0, 0%, 98%);
	padding: 3px 15px;
	font-size: 12px;
	border: 1px solid #2b272f;
}

.menu-link button:hover {
	background-color: #2b272f;
	color: white !important;
	font-weight: bolder;
}

.first-content {
	background-color: hsl(256, 26%, 20%);
	color: white;
	float: right;
	width: 100%;
	height: 540px;
	margin: 0px;
	padding: 0px;
}

#my-content {
	margin-left: 50px;
	line-height: 7em;
	position: relative;
	bottom: 250px;
}

.article hr {
	width: 7%;
	margin-bottom: 40px;
}

.article h1 {
	font-family: 'DM Serif Display', serif;
	text-align: left;
	font-size: 3.13rem;
	line-height: 3.13rem;
}

.article p {
	font-size: 14px;
	line-height: 1.5em;
	margin-top: 20px;
}

.mymage #rpx {
	height: 300px;
	float: right;
	position: relative;
	z-index: 2;
}

.mymage #lpx {
	height: 300px;
	position: relative;
	z-index: 2;
	bottom: -180px;
}

.my-image {
	float: right;
	margin-right: 100px;
	position: relative;
	top: -570px;
}

.section-button button {
	background-color: hsl(256, 26%, 20%);
	border: 1px solid white;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.section-button button a{
	color: white;
	text-decoration: none;
}

.section-button button:hover, a:hover {
	background-color: white;
	color: black;
}

.middle-section {
	margin-top: 120px;
	margin-left: 50px;
	position: relative;
	top: 300px;
}

.middle-section_heading {
	font-size: 2.3rem;
	font-family: 'DM Serif Display', serif;
	margin-left: 38px;
}

.middle-section_heading hr {
	width: 10%;
	margin-bottom: 40px;
}

.middle-section_content {
	display: flex;
	margin-right: 40px;
	margin-top: 40px;
	padding: 20px;
	line-height: 20px;

}

.middle-section_paragraph {
	margin-left: 20px;
}

.middle-section_paragraph img {
	margin-bottom: 30px;
}

.middle-section_paragraph .paragraph-heading {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 25px;
	color: #2b272f;
	font-family: 'DM Serif Display', serif;
}

.middle-section_paragraph .paragraph-content {
	color: #837d87;
	font-size: 15px;
}

.middle-section_lower_background {
	background-color: hsl(256, 26%, 20%);
	background-image: url(images/bg-pattern-how-we-work-desktop.svg);
	background-repeat: no-repeat;
	height: 250px;
	width: 1200px;
	position: relative;
	top: 80px;
	margin-left: 35px;
}

.middle-section_lower_background h1 {
	font-family: 'DM Serif Display', serif;
	font-weight: 700;
	font-size: 40px;
	color: #fff;
	padding: 40px;
	margin-left: 120px;
	margin-bottom: 50px;
	position: relative;
	top: 20px;
}

.middle-section_lower_background a {
	border: 1px solid #fff;
	width: 100px;
	height: 25px;
	color: #fff;
	padding: 3px 15px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    float: right;
    margin-right: 200px;
    position: relative;
    bottom: 150px;

}

.middle-section_lower_background a:hover {
	background-color: #fff;
	color: rgb(45, 38, 64);
	font-weight: 700;
}



